<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Date</title>
  </head>
  <body>
    <% d = DateTime.now %>
    <% date = "#{d.day d.month d.year} %>
    <h1>Today's date is <%=DateTime.now%></h1>
  </body>
</html>
